@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
*{
    font-family: "Ubuntu", sans-serif;
    margin: 0%;
    padding: 0%;
}
body{
    background: linear-gradient(to right,rgb(7, 7, 82),rgba(48, 48, 48, 0.751));
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    background: #000;
    height: 100%;
    width:88% ;
    /* background-repeat: no-repeat; */
    background-image: linear-gradient(to right,#01022de5 30%,#00000088),
    url(download.webp);
}
.content:hover{
    background-image: linear-gradient(to right,#01022de5 30%,transparent),
    url(download.webp);
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

}
.logo{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 30px;
    font-weight: 400;
}
a{
    text-decoration: none;
    color: white;
}
ul{
    width: 60%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}
ul a{
    border-bottom: solid 2px transparent;
}
ul a:hover{
    border-bottom-color: white;
}
.contents{
    width: 50%;
    margin-top: 50px;
    padding: 30px;
    color: white;

}
.contents h2{
    font-size: 100px;
    color: white;
    text-transform: uppercase;
}
.contents p{
    letter-spacing: 2px;
    width: 350px;
    padding: 20px 0;
}
.contents button{
    font-size: 30px;
    padding: 6px 10px;
    border-radius: 10px;
    border: solid 2px transparent;
    cursor: pointer;
}
.contents button:hover{
     background-color: transparent;
     border-color: white;
     color: white;
}
@media 